<div class="pull-right">
  <%= link_to("新增类别", new_admin_category_path(@category), class: "btn btn-primary") %>
</div>

<h1>所有类别</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>类别名称</th>
      <th colspan="2">类别管理</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to("编缉", edit_admin_category_path(category), class: "btn btn-success btn-xs") %></td>
        <td><%= link_to("删除", admin_category_path(category), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "确定删除该类？"}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
