<%= form_tag search_products_path, :class => "search", :method => :get do %>
  <div class="input-group">
    <input type="text" class="search-input" name="q" value="<%= params[:q] %>" placeholder="输入你所要搜索的商品..">
    <span class="input-group-btn">
      <button type="submit" class="search-button">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
<% end %>
