<footer class="footer container col-md-12" style="margin-top:100px;">
  <p>关于我们 <span>|</span> 帮助中心 <span>|</span> 开放平台 <span>|</span> 诚聘英才 <span>|</span> 联系我们 <span>|</span></p>
  <p class="text-center">CopyRight ©2017 Your-Curtains
    <br>Design by
    <a href="http://makun-blog.logdown.com/">Michael</a>
  </p>
</footer>
